/**------------------------------------------------------------------------
 *                           ícono grande
 *------------------------------------------------------------------------**/

.success-page .success-icon {
    font-size: 3rem;
    color: #4CAF50;
    margin-bottom: 1rem;
}

/**------------------------------------------------------------------------
 *                           título
 *------------------------------------------------------------------------**/

.success-page h2 {
    font-size: 0.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

/**------------------------------------------------------------------------
 *                           texto secundario
 *------------------------------------------------------------------------**/

.success-page p {
    font-size: 0.5rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.error  {
    color: red;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}