/* footer {
display: flex;
justify-content: center;
align-items: center;
}
footer .nav-list {
justify-content: flex-end;
}

footer p {
margin: 0;
} */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}